<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entregable Festinese | Home</title>
</head>
<body>
    <p style: "color:red">DATOS DE MI FAMILIA</p>
    <br>

    {% for familiar in Familia %}
        Nombre y Apellido: {{familiar.nombre}} {{familiar.apellido}}<br>
        Fecha de nacimiento: {{familiar.fechaNacimiento}}<br>
        Edad: {{familiar.edad}}<br>
        <br>
    {% endfor %}
</body>
</html>